<!DOCTYPE html>
<html>
<head>
  <title>Кафедры</title>
  <%= stylesheet_link_tag    "admin/chair", :media => "all" %>
  <%= javascript_include_tag "/assets/jquery.js", "/assets/jquery_ujs.js", "/assets/admin/chair" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "logout">
  <%= button_to("Выход", {:controller => "/user/login", :action => "logout"})%>
</div>
<%= yield %>

</body>
</html>

