<%= form_tag({:action => "new"}) do %>
  <table>
    <tr>
      <td>
        <label>
          Email: *
        </label>
      </td>
    
      <td id = "td_email" <%= "style = 'background: red'" if flash[:email] %> >
        <%= text_field_tag :email, params[:email] %>
      </td>

      <td id = "error_email" style="color: red;">
	<%= flash[:email] if flash[:email] %>
      </td>
    </tr>
    
    <tr>
      <td>
        <label>
          Пароль: *
        </label>
      </td>
    
      <td id = "td_password" <%= "style = 'background: red'" if flash[:password] %> >
        <%= password_field_tag :password, params[:password] %>
      </td>
        
      <td id = "error_password" style="color: red;">
	<%= flash[:password] if flash[:password] %>	
      </td>
    </tr>
        
    <tr>
      <td>
        <label>
          Подтверждение пароля: *
        </label>
      </td>
    
      <td id = "td_password_confirmation" <%= "style = 'background: red'" if flash[:password_confirmation] %> >
        <%= password_field_tag :password_confirmation, params[:password_confirmation] %>
      </td>

      <td id = "error_password_confirmation" style="color: red;">
	<%= flash[:password_confirmation] if flash[:password_confirmation] %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Фамилия: *
        </label>
      </td>
    
      <td id = "td_last_name" <%= "style = 'background: red'" if flash[:last_name] %> >
        <%= text_field_tag :last_name, params[:last_name] %>
      </td>

      <td id = "error_last_name" style="color: red;">
	    <%= flash.now[:last_name] if flash.now[:last_name] %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Имя: *
        </label>
      </td>
    
      <td id = "td_first_name" <%= "style = 'background: red'" if flash[:first_name] %> >
        <%= text_field_tag :first_name, params[:first_name] %>
      </td>

      <td id = "error_first_name" style="color: red;">
	    <%= flash.now[:first_name] if flash.now[:first_name] %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Отчество: *
        </label>
      </td>
    
      <td id = "td_middle_name" <%= "style = 'background: red'" if flash[:middle_name] %> >
        <%= text_field_tag :middle_name, params[:middle_name] %>
      </td>

      <td id = "error_middle_name" style="color: red;">
        <%= flash.now[:middle_name] if flash.now[:middle_name] %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Пол:
        </label>
      </td>
    
      <td id = "td_sex">
        <%= select_tag(:sex, options_from_collection_for_select(Sex.all, :id, :name, params[:sex]), :prompt => "выберите") %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Факультет:
        </label>
      </td>

      <td id = "td_faculty">
	<%= select_tag(:faculty, options_from_collection_for_select(Faculty.all, :id, :name, params[:faculty]), :prompt => "выберите") %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Кафедра:
        </label>
      </td>

      <td id = "td_chair">
        <div id="chair">
	  <%= render :partial => "chair", :locals => {:chairs => Chair.all } %>
	</div>
        
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Воинское звание:
        </label>
      </td>

      <td id = "td_military_rank">
	<%= select_tag(:military_rank, options_from_collection_for_select(MilitaryRank.all, :id, :name, params[:military_rank]), :prompt => "выберите") %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Научное звание:
        </label>
      </td>

      <td id = "td_scientific_rank">
	<%= select_tag(:scientific_rank, options_from_collection_for_select(ScientificRank.all, :id, :name, params[:scientific_rank]), :prompt => "выберите") %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Должность:
        </label>
      </td>

      <td id = "td_post">
	<%= select_tag(:post, options_from_collection_for_select(Post.all, :id, :name, params[:post]), :prompt => "выберите") %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Телефон:
        </label>
      </td>
    
      <td id = "td_phone" <%= "style = 'background: red'" if flash[:phone] %> >
        <%= text_field_tag :phone, params[:phone] %>
      </td>

      <td id = "error_phone" style="color: red;">
	<%= flash.now[:phone] if flash.now[:phone] %>
      </td>
    </tr>

    <tr>
      <td>
        <label>
          Комната:
        </label>
      </td>
    
      <td id = "td_room" <%= "style = 'background: red'" if flash[:room] %> >
        <%= text_field_tag :room, params[:room] %>
      </td>

      <td id = "error_room" style="color: red;">
	<%= flash.now[:room] if flash.now[:room] %>
      </td>
    </tr>

    <tr>
      <td colspan = "2">
        <%= submit_tag "добавить" %>
      </td>
    </tr>
  </table>
<% end %>
<%= link_to("назад", { :controller => 'admin/user', :action => 'index' }) %>
