<%= form_tag({:action => "new"}) do %>
  <table>
    <tr>
      <td>
        <label>
          Название: *
        </label>
      </td>
    
      <td id = "td_name" <%= "style = 'background: red'" if flash[:name] %> >
        <%= text_field_tag :name, params[:name] %>
      </td>

      <td id = "error_name" style="color: red;">
	<%= flash[:name] if flash[:name] %>
      </td>
    </tr>

    <tr>
      <td colspan = "2">
        <%= submit_tag "добавить" %>
      </td>
    </tr>
  </table>
<% end %>
<%= link_to("назад", { :controller => 'admin/dictonary/sex', :action => 'index' }) %>
